{% extends "WnUserBundle::layout.html.twig" %}

{% block css %}
{% stylesheets "@WnUserBundle/Resources/public/css/register.css" %}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock css%}

{% block container %}
<div class="content">
	<h1>Inscription</h1>
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
		<table class="input-group">
			<tr>
				<td class="label">{{form_label(form.username)}}</td>
				<td>{{form_widget(form.username)}}</td>
			</tr>
			<tr>
				<td class="label">{{form_label(form.email)}}</td>
				<td>{{form_widget(form.email)}}</td>
			</tr>
			<tr>
				<td class="label">{{ form_label(form.plainPassword.first) }}</td>
				<td>{{ form_widget(form.plainPassword.first)}}</td>
			</tr>
			<tr>
				<td class="label">{{ form_label(form.plainPassword.second) }}</td>
				<td>{{ form_widget(form.plainPassword.second)}}</td>
			</tr>
			{{form_rest(form)}}
		</table>
		<div>
		    <input type="submit" value="valider" />
		</div>
	</form>
</div>
{% endblock container %}