{% extends "WnBackendBundle::layout.html.twig" %}
{% block title %}Gestion des catégories{% endblock title %}
{% block body %}
<h3>Gestion des catégories d'article</h3>
<hr/>
<a href="{{ path('wn_backend_categorie_ajouter') }}">Ajouter</a>
<table>
	<thead>
		<tr>
			<th>#Id</th>
			<th>Nom</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for categorie in categories %}
		<tr>
			<td><a href="{{ path('wn_backend_categorie_editer', {'id':categorie.id}) }}">{{ categorie.id }}</a></td>
			<td>{{ categorie.nom }}</td>
			<td><a href="{{ path('wn_backend_categorie_supprimer', {'id':categorie.id}) }}">supprimer</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock body %}