<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock title %}</title>
		{% stylesheets "@WnBlogBundle/Resources/public/css/main.css" %}
			<link rel="stylesheet" type="text/css" href="{{asset_url}}">
		{% endstylesheets %}
		{% block css %}

		{% endblock css %}
		<script type="text/javascript" src="{{ asset('js/jquery-1.10.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('masonry.pkgd.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('imagesloaded.pkgd.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('jquery.isotope.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('frontend/js/jquery.modal_box.js')}}"></script>
		<script type="text/javascript" src="{{ asset('three.js')}}"></script>
		<script type="text/javascript" src="{{ asset('OrbitControls.js')}}"></script>
		<script type="text/javascript" src="{{ asset('ColladaLoader.js')}}"></script>
		<script type="text/javascript" src="{{ asset('jquery-ui/js/jquery-ui-1.10.3.custom.js')}}"></script>
		{% block javascript %}{% endblock javascript %}
		<link rel="stylesheet" type="text/css" href="{{ asset('jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.css')}}">
		<style type="text/css">

		@font-face{
			font-family : 'Lato-light';
			src         : url("{{asset('font/Lato-light/Lato-light.ttf')}}") format("truetype");
		}

		@font-face{
			font-family : 'Lato';
			src         : url(http://fonts.googleapis.com/css?family=Lato);
		}

		html {
			margin:0;
			padding:0;
			background: white;
		}
		body{

		}

		@font-face{
			font-weight: normal;
			font-style:  normal;
			font-family: 'icomoon';
			src : url("{{ asset('frontend/fonts/icomoon.eot') }}");
			src : url("{{ asset('frontend/fonts/icomoon.eot?#iefix') }}") format('embedded-opentype'),
				  url("{{ asset('frontend/fonts/icomoon.ttf') }}") format('truetype'),
				  url("{{ asset('frontend/fonts/icomoon.woff') }}") format('woff'),
			      url("{{ asset('frontend/fonts/icomoon.svg#icomoon') }}") format('svg');
		}
		
		[class*="icon-"]{
			font-family: 'icomoon';
			speak: none;
			font-style     : normal;
			font-weight    : normal;
			font-variant   : normal;
			text-transform : none;
			line-height    : 1;

			-webkit-font-smoothing  : antialiased;
			-moz-osx-font-smoothing : grayscale;
		}

		.icon-expand:before {
			content: "\e600";
		}
		.icon-facebook:before {
			content: "\e601";
		}
		.icon-twitter:before {
			content: "\e602";
		}
		.icon-bubble:before {
			content: "\e603";
		}
		.icon-user:before {
			content: "\e604";
		}
		</style>
	</head>
	<body>
		{% block nav %}
			{{ render(controller("WnBlogBundle:Blog:nav")) }}
		{% endblock nav %}
		<div class="loader" style="visibility : hidden;">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
		<div class="container">
			{% block container %}
			{% endblock container %}
		</div>
	</body>
</html>