<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('frontend/test.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.css')}}">
		<script type="text/javascript" src="{{ asset('js/jquery-1.10.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('masonry.pkgd.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('imagesloaded.pkgd.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('jquery.infinitescroll.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('jquery.isotope.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('frontend/js/jquery.modal_box.js')}}"></script>
		<script type="text/javascript" src="{{ asset('mrdoob/build/three.js')}}"></script>
		<script type="text/javascript" src="{{ asset('mrdoob/examples/js/controls/OrbitControls.js')}}"></script>
		<script type="text/javascript" src="{{ asset('mrdoob/examples/js/loaders/ColladaLoader.js')}}"></script>
		<script type="text/javascript" src="{{ asset('jquery-ui/js/jquery-ui-1.10.3.custom.js')}}"></script>
		{% block javascript %}{% endblock javascript %}
		<style type="text/css">
		html { 
		  margin:0;
		  padding:0;
		  background: url({{ asset('frontend/background/simple-checker.gif')}}) fixed;
		}

		@font-face{
			font-weight: normal;
			font-style:  normal;
			font-family: 'icomoon';
			src : url("{{ asset('frontend/fonts/icomoon.eot') }}");
			src : url("{{ asset('frontend/fonts/icomoon.eot?#iefix') }}") format('embedded-opentype'),
				  url("{{ asset('frontend/fonts/icomoon.ttf') }}") format('truetype'),
				  url("{{ asset('frontend/fonts/icomoon.woff') }}") format('woff'),
			      url("{{ asset('frontend/fonts/icomoon.svg#icomoon') }}") format('svg');
		}
		
		[class*="icon-"]{
			font-family: 'icomoon';
			speak: none;
			font-style     : normal;
			font-weight    : normal;
			font-variant   : normal;
			text-transform : none;
			line-height    : 1;

			-webkit-font-smoothing  : antialiased;
			-moz-osx-font-smoothing : grayscale;
		}

		.icon-facebook:before {
			content: "\e600";
		}
		.icon-twitter:before {
			content: "\e601";
		}
		.icon-bubble:before {
			content: "\e602";
		}
		</style>
	</head>
	<body>
		{{ render(controller("WnBlogBundle:Blog:menu")) }}
		<div class="container">
			{% block container %}
			{% endblock container %}
		</div>
	</body>
</html>