{% extends "WnBlogBundle::layout.html.twig" %}
{% block title %}Model 3D{% endblock title %}
{% block css %}
{{ parent() }}
{% stylesheets "@WnBlogBundle/Resources/public/css/commentaires.css"
               "@WnGalerieBundle/Resources/public/css/description.css"
               "@WnModel3DBundle/Resources/public/css/model.css" %}
<link rel="stylesheet" type="text/css" href="{{asset_url}}">
{% endstylesheets %}
{% endblock css %}
{% block nav %}
{{ render(controller('WnBlogBundle:Article:menu')) }}
{% endblock nav %}
{% block container %}
<div id="container">
	<script type="text/javascript">
		$(document).ready(function(){
			$('#container').imagesLoaded(function(){
				$('#container').masonry({
					itemSelector : '.element',
					gutter : 2,
				});
				$('#slider').slider({
					orientation : 'horizontal',
					range       : 'min',
					step        : 0.01,
					min         : {{model.camDistanceMin}},
					max         : {{model.camDistanceMax}},
					slide       : function (event, ui){
						majDistance(ui.value);
					}
				});
				$('.element-render').css('height',$('.element-render').css('width'));
				$('#container').masonry('layout');
				$(window).resize(function (){
					$('.element-render').css('height', $('.element-render').css('width') );
					renderer.setSize($('.element-render').width(),$('.element-render').height());
					$('#container').masonry('layout');
				});
				var scene    = new THREE.Scene();
				var camera   = new THREE.PerspectiveCamera(75, $('.element-render').width()/$('.element-render').height(), 0.1 , 1000);
				var renderer = new THREE.WebGLRenderer({
					antialias : true
				});
				renderer.setSize($('.element-render').width(),$('.element-render').height());
				renderer.setClearColor(0xFFFFFF,0);
				$('.element-render').append(renderer.domElement);
				var controls = new THREE.OrbitControls( camera , renderer.domElement );
				var majDistance = function (value){
					controls.minDistance = value;
					controls.maxDistance = value;
				};
				majDistance({{model.camDistanceMin}});
				var loader = new THREE.ColladaLoader();
				loader.options.converUpAxis = true;
				loader.load( '{{ asset(model.webPath) }}' ,function (collada){
					dae = collada.scene;
					dae.scale.x = dae.scale.y = dae.scale.z = 2;
					dae.rotation.x =+5;
					scene.add(dae);
					camera.lookAt(dae);
				});
				var render = function (){
					requestAnimationFrame(render);
					controls.update();
					renderer.render(scene, camera);
				};
				render();
			});
		});
	</script>
	<div class="element element-antibug"></div>
	<div class="element element-render">
		<div id="slider"></div>
	</div>
	<div class="commentaires element">
		<div class="description">
			<div class="auteur-date">
				<span class="icon-user avatar inline"></span>
				<div class="info inline">
					<a href="{{path('wn_blog_utilisateur',{'id' : model.auteur.id })}}" class="auteur">{{model.auteur.username}}</a>
					<br/>
					<span class="date">{{model.datePublication | date('d-m-Y')}}</span>
				</div>
			</div>
			<p>Nom : {{ model.nom }}</p>
		</div>
		<div class="ban"><span class="text">Commentaire</span></div>
		{# Formulaire pour mettre un commentaire #}
		<form method="post" {{ form_enctype(form)}}>
			{{ form_errors(form) }}
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{{ form_widget(form.contenu, {'attr':{'placeholder' : 'Entrer votre commentaire ici.'} }) }}
			{% else %}
				{{ form_widget(form.contenu, {'attr':{'placeholder' : 'Veuillez vous connecter pour écrire un commentaire sur cette article.', 'disabled' : 'disabled'} }) }}
			{% endif %}
				{{ form_rest(form) }}
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<input type="submit" value="Envoyer"/>
			{% else %}
				<input type="submit" value="Envoyer" disabled />
			{% endif %}
		</form>
		

		{# Liste des commentaires #}
		{% if commentaires|length == 0 %}
		<div class="ban ban-0commentaire">
			<span class="text">Cette article n'a pas encore été commenté</span>
		</div>
		{% endif %}
		{% for commentaire in commentaires %}
		<div class="commentaire">
			<div class="auteur">
				<div class="triangle">
					<div class="triangle-bleu"></div>
					<div class="triangle-blanc"></div>
				</div>
				<span class="icon-user avatar"></span>
				<a href="{{ path('wn_blog_utilisateur',{'id':commentaire.auteur.id}) }}" class="pseudo">{{ commentaire.auteur.username }}</a>
			</div>
			<div class="contenu">
				<p>{{ commentaire.contenu }}</p>
			</div>
		</div><!-- commentaire -->
		{% endfor %}
	</div><!-- commentaires -->
</div>
{% endblock container %}