{% extends "WnBackendBundle::layout.html.twig" %}

{% block title %}Management models 3D{% endblock title%}

{% block body %}
<h3>Management models 3D</h3>
<hr>
<a href="{{ path('wn_backend_model_add') }}">Add</a>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for model in models %}
		<tr>
			<td><a href="{{ path('wn_backend_model_config',{'id' : model.id })}}">{{model.id}}</a></td>
			<td>{{model.name}}</td>
			<td><a href="{{ path('wn_backend_model_delete',{'id' : model.id}) }}">delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock body %}