{% stylesheets "@WnBlogBundle/Resources/public/css/menu.css" %}
	<link rel="stylesheet" type="text/css" href="{{asset_url}}">
{% endstylesheets %}
<script type="text/javascript">
	$(document).ready(function (){
		var $button = $(".burger-button");
		var $navBar = $(".navigation");
		var $blockPage = $(".block-page");
		var $returnButton = $(".return");
		var $connexionButton = $(".nav-connexion");
		var $connexion = $(".connexion");
		$button.click(function (){
			$connexion.css('left','-200px');
			if($navBar.css('left') == '-200px'){
				$navBar.css('left','0px');
				$blockPage.fadeIn('fast');
			}else{
				$navBar.css('left','-200px');
			}
			if($connexion.css('left') == '0px'){
				$connexion.css('left','-200px');
			}
		});
		$returnButton.click(function (){
			if($connexion.css('left') == '0px'){
				$connexion.css('left','-200px');
			}
			if($navBar.css('left') == '-200px'){
				$navBar.css('left','0px');
			}
			if($(window).width() >= 817){
				$blockPage.fadeOut();
			}
		});
		$blockPage.click(function (){
			if($(window).width() < 817){
				if($navBar.css('left') == '0px'){
					$navBar.css('left','-200px');
				}
			}
			if($connexion.css('left') == '0px'){
				$connexion.css('left', '-200px');
			}
			$blockPage.fadeOut();
		});
		$connexionButton.click(function (){
			$connexion.css('left','0px');
			if($(window).width() > 816){
				$blockPage.fadeIn();
			}
		});
		$(window).resize(function(){
			console.log($(window).width());
			if($(window).width() >= 817){
				$navBar.css('left','0px');
			}else{
				$navBar.css('left','-200px');
			}
			if($connexion.css('left') !== '0px'){
				$blockPage.fadeOut('fast');
			}
		});

	});
</script>
<div class="nav-top">
	<div class="burger-button">
		<div class="top segment"></div>
		<div class="middle segment"></div>
		<div class="bottom segment"></div>
	</div>
</div>
<div class="block-page" style="display : none;">
</div>
<div class="connexion">
<div class="nav-option return">Retour</div>
{{ render(controller('WnBlogBundle:Blog:connexion'))}}
</div>
<nav class="navigation">
	<ul class="list-menu">
		<li class="menu"><a href="{{ path('wn_blog_index', {'categorie' : 'Blog Perso'}) }}" class="actif">Blog Perso</a></li>
		{% for categorie in categories %}
			<li class="menu"><a href="{{ path('wn_blog_index' ,{'categorie' : categorie.nom }) }}" >{{ categorie.nom }}</a></li>
		{% endfor %}
		<li class="menu"><a href="{{ path('wn_blog_index', {'categorie' : 'Galerie' })  }}" >Galerie</a></li>
		<li class="menu"><a href="{{ path('wn_blog_index', {'categorie' : 'Model 3D' }) }}" >Model 3D</a></li>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li class="menu"><a href="{{ path('fos_user_security_logout')}}">Deconnexion</a></li>
		{% else %}
			<li class="menu"><a href="#" class="nav-connexion">Connexion</a></li>
		{% endif %}
	</ul>
</nav>