<div class="element element-article category-{{ article.category.name }}">

	<div class="segment-top">
		<div class="categorie">{{ article.category.name }}</div>
	</div><!-- segment-top -->


	<img src="{{ asset( article.poster.WebPath ) }}"/>


	<div class="segment-bottom">
		<div class="date-auteur">
			<div class="date">
				{{ article.dateOfPublication | date('d / m / Y',"Europe/Paris") }}
			</div><!-- date-auteur -->
			<div class="auteur">
				écrie par {{ article.author.username }}
			</div><!-- auteur -->
		</div><!-- date-auteur -->
		<div class="titre">
			<h2><a href="{{ path('wn_blog_article_view',{'id':article.id}) }}">{{ article.title }}</a></h2>
		</div><!-- titre -->
		
		<p class="synopsis">{{ article.synopsis | slice(0,200) }}...</p>
		<div class="social">
			<div class="commentaire inline" >
				{{ article.comments|length}} 
				<span class="icon-bubble"><span>
			</div><!-- commentaire -->
			<div class="reseau-sociaux inline">
				<a href="#" class="facebook"><span class="icon-facebook"></span></a>
				<a href="#" class="twitter"><span class="icon-twitter"></span></a>
			</div><!-- reseau-sociaux -->
		</div><!-- social -->

	</div><!-- segment-bottom -->

</div><!-- element-article -->