{% extends "WnBackendBundle::layout.html.twig" %}

{% block title %}Management main gallery{% endblock %}

{% block body %}
<h3>Management main gallery</h3>
<a href="{{ path('wn_backend_gallery_add_image') }}">add</a>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Image</th>
			<th>Note</th>
			<th>Date added</th>
			<th></th>
		</tr>
	<thead>
	<tbody>
		{% for image in gallery.images %}
		<tr>
			<td>
				<a href="{{ path('wn_backend_gallery_edit_image',{'id':image.id}) }}">
					{{image.id}}
				</a>
			</td>
			<td><img src="{{ asset(image.WebPath) }}" style="width:50px;height:50px;"/></td>
			<td>{{ image.note }}</td>
			<td>{{ image.dateOfPublication | date('d/m/Y')}}</td>
			<td>
				<a href="{{ path('wn_backend_gallery_delete_image', {'id': image.id}) }}">
					delete
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}