{% extends "WnBackendBundle::layout.html.twig" %}

{% block title %}Gestion des articles{% endblock title %}

{% block body %}
<h3>Gestion des articles</h3>
<a href="{{ path('wn_backend_article_ajouter') }}">ajouter</a>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Titre</th>
			<th>Date de creation</th>
			<th>Date de publication</th>
			<th>Image d'affiche</th>
			<th>Synopsis</th>
			<th></th>
		</tr>
	</thead>
	</tbody>
		{% for article in articles %}
		<tr>
			<td>
				<a href="{{ path('wn_backend_article_editer', {'id' : article.id }) }}">
					{{ article.id }}
				</a>
			</td>
			<td>{{ article.titre }}</td>
			<td>{{ article.dateCreation | date('d/m/Y') }}</td>
			<td>{{ article.datePublication | date('d/m/Y') }}</td>
			<td>
				<img src="{{ asset(article.imageAffiche.WebPath) }}" style="width:100px;height:75px;"/>
			</td>
			<td>{{ article.synopsis   }}</td>
			<td>
				<a href="{{ path('wn_backend_article_supprimer', {'id' : article.id }) }}">
					supprimer
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock body %}