{% extends "WnBackendBundle::layout.html.twig" %}

{% block title %}Management articles{% endblock title %}

{% block body %}
<h3>Management articles</h3>
<a href="{{ path('wn_backend_article_add') }}">add</a>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Creation date</th>
			<th>Date of publication</th>
			<th>Poster</th>
			<th>Synopsis</th>
			<th></th>
		</tr>
	</thead>
	</tbody>
		{% for article in articles %}
		<tr>
			<td>
				<a href="{{ path('wn_backend_article_edit', {'id' : article.id }) }}">
					{{ article.id }}
				</a>
			</td>
			<td>{{ article.title }}</td>
			<td>{{ article.creationDate | date('d/m/Y') }}</td>
			<td>{{ article.dateOfPublication | date('d/m/Y') }}</td>
			<td>
				<img src="{{ asset(article.poster.WebPath) }}" style="width:100px;height:75px;"/>
			</td>
			<td>{{ article.synopsis   }}</td>
			<td>
				<a href="{{ path('wn_backend_article_delete', {'id' : article.id }) }}">
					delete
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock body %}